Django==4.2
PyMySQL==1.1.0
django-crispy-forms==2.0
djangorestframework==3.14
django-environ==0.11.2
gunicorn==21.2
crispy-bootstrap5==2024.2
cryptography>=3.4.8
lxml>=4.6.0
requests>=2.25.0
xmltodict>=0.12.0
celery>=5.2.0
redis>=4.3.0
channels>=4.0.0
channels-redis>=4.0.0 